.sendForm {
    display: flex;
    margin-left: 70px;
    align-items: center;
}

.textarea {

    width: 976px;
    border-radius: 20px;
    background-color: #F5F7FB;
    border: 1px solid #F5F7FB;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    border: 1px solid #0066CC;
    color: white;
    margin-left: 44px;
}

.button:hover {

}

.button:active {

}
